<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="{{ description }}">
<meta name="author" content="{{ author }}">
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.min.css">
<link rel="stylesheet" href="styles.css">
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ feed_url }}">
<link rel="icon" href="{{ image_url }}">
<title>{{ title }}</title>
<div class="container-fluid">
<h1 class="title"><img src="{{ image_url}}">{{ title }}</h1>
<div class="row-fluid">
  <div class="span10">
  {{ #articles }}
    <h4 class="article-title"><a href="{{ link }}">{{ title }}</a></h4>
    <h5 class="article-source"><a href="{{ meta.link }}">{{ meta.title }}</a></h5>
    <p><em>{{ pubdate }}</em></p>
    <div class="article-content">
      {{{ description }}}
    </div>
  {{ /articles }}
  </div>
  <div class="span2">
    <ul class="nav nav-list">
      <li class="nav-header">Feeds</li>
      {{ #feeds }}
      <li><a href="{{ meta.link }}"
        {{ #error }}
        class="text-error"
        title="{{ . }}"
        {{ /error }}
        >{{ name }}</a></li>
      {{ /feeds }}
    </ul>
  </div>
</div>
</div>
<footer class="hidden-phone">
  <div class="container-fluid">
    This page was created by <a href="https://github.com/toolness/planet-badges">planet-badges</a> on {{ pubdate }}.
  </div>
</footer>
